<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <h3>{{ mars.Headline }}</h3>
    <h4>{{ mars.Blurb }}</h4>

    <div class="row">
      <div class="col-sm-6">
        <h2>Featured Mars Image</h2>
        <br>
        <img src = "{{ mars.Current_Mars_Image }}" >
      </div>

      <div class="col-sm-6">
        <h2>Mars Facts</h3>
          <br>
        <h3>{{ mars.Mars_Data | safe }}</h3>
      </div>

    </div>
    <br>
    <div class="row">
      <h2><center>Mars Hemispheres</center></h2>
      <br>
      <div class="col-sm-3">
        <div class="card">
          <img src = "{{ mars.hemisphere_image_1 }}" style="width:300px;height:300px;">
          <br>
          <h4>{{ mars.image_1_title }}</h4>
          <br>
          <br>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="card">
          <img src = "{{ mars.hemisphere_image_2 }}" style="width:300px;height:300px;">
          <br>
          <h4>{{ mars.image_2_title }}</h4>
          <br>
          <br>
        </div>
      </div>
    
      <div class="col-sm-3">
        <div class="card">
          <img src = "{{ mars.hemisphere_image_3 }}" style="width:300px;height:300px;">
          <br>
          <h4>{{ mars.image_3_title }}</h4>
          <br>
          <br>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="card">
          <img src = "{{ mars.hemisphere_image_4 }}" style="width:300px;height:300px;">
          <br>
          <h4>{{ mars.image_4_title }}</h4>
          <br>
          <br>
        </div>

      </div>
  
    </div>

  </div>

</body>

</html>
